PORT=

NODE_ENV=

CLIENT_URL=

MONGODB_URI=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=